<section class="content">
  <app-navbar></app-navbar>
  LOGIN
  <main>
    <div class="container mt-4">
      <form [formGroup]="loginForm" (ngSubmit)="!loginForm.invalid && loginUser(loginForm.value)">
        <!--Email-->
        <div class="form-group mx-sm-3 mb-2">
          <label for="email">Email</label>
          <input novalidate id="email" class="form-control" formControlName="email" placeholder="Users's email" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
            loginForm.get('email')!.hasError('required') &&
            loginForm.get('email')!.touched
          ">
            email required
          </div>
          <div class="alert alert-danger alert-dismissible fade show"
            *ngIf="loginForm.get('email')!.hasError('email')">
            email invalid
          </div>
        </div>
        <!--Password-->
        <div class="form-group mx-sm-3 mb-2">
          <label for="password">Password</label>
          <input novalidate id="password" class="form-control" formControlName="password" placeholder="User's password" />
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="
            loginForm.get('password')!.hasError('required') &&
            loginForm.get('password')!.touched
          ">
            Name required
          </div>
          <div class="alert alert-danger alert-dismissible fade show"
            *ngIf="loginForm.get('password')!.hasError('minlength')">
            Name too short
          </div>
        </div>
      </form>
    </div>
  </main>
</section>
