<section class="content">
  <app-navbar-user></app-navbar-user>
  <div *ngIf="!this.activeUser" class="d-grid gap-2 col-6 mx-auto add-btn">
    <button class="btn btn-orange" type="button" (click)="goToConnectStrava()">Connect to Strava</button>
  </div>

  <div class="container-fluid" *ngIf="this.activeUser">
    <div class="container border p-3" *ngIf="baseAtlhete && stravaUser">
      <div class="row align-items-center" style="justify-content: center;">
        <div class="col-md-2 text-center">
          <img [src]="this.baseAtlhete.profile" class="rounded-circle" alt="profile_pic">
        </div>
        <div class="col-md-7">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title">{{ this.baseAtlhete.firstname + ' ' + this.baseAtlhete.lastname }}</h5>
              <h6 *ngIf="this.stravaUser.athlete_id" class="card-subtitle mb-2 text-muted">ID: {{
                this.stravaUser.athlete_id
                }}</h6>
              <p *ngIf="this.baseAtlhete.bio" class="card-text"> Bio: {{ this.baseAtlhete.bio }}</p>
              <p class="card-text"> Location: {{ this.baseAtlhete.city + ' ' + this.baseAtlhete.country }}</p>
              <p class="card-text">Last time updated {{ this.stravaUser.last_sync !== null
                  ?
                  this.stravaUser.last_sync : '-' }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="d-grid gap-2 col-8 mx-auto">
            <button class="btn btn-primary" type="button" (click)="syncData()">Sincronizar</button>
            <button class="btn btn-orange" type="button" (click)="goToSProfile()">Strava</button>
            <button class="btn btn-warning" type="button" (click)="goToProfile()">Atras</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div *ngIf="isProcessing" class="d-flex justify-content-center align-items-center" style="height: 10vh;">
      <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <table *ngIf="!isProcessing && this.stravaUser.last_sync !== null && this.userActivities && this.userActivities.length > 0" class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tiempo</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of this.userActivities">
          <td>{{ activity.id }}</td>
          <td>{{ activity.name }}</td>
          <td>{{ activity.elapsed_time }}</td>
          <td>{{ activity.type }}</td>
          <td>{{ activity.start_date_local }}</td>
          <td class="mb-2">
            <button type="button" class="btn btn-orange"
              (click)="goToActivity(activity.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div *ngIf="!isProcessing && this.userActivities.length === 0" class="alert alert-warning" role="alert">
        No hay actividades para mostrar
      </div>
    </div>
  </div>
</section>
