<div id="navbar_sa">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="/home">Sport App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sesiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pagos</a>
          </li>

        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Plan: Basico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hola Juan!</a>
          </li>
          <li>
            <div class="navbar-item">
              <a class="nav-link" href="#">Logout</a>
            </div>
          </li>
          <li>
            <div class="navbar-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="country-lg">
                  CO <img src="https://flagsapi.com/CO/flat/24.png" alt="Colombia" />
                </span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="https://flagsapi.com/CO/flat/24.png" alt="Colombia" /> Colombia
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <img src="https://flagsapi.com/US/flat/24.png" alt="United States" /> United States
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
