.back-color {
  background-color: #bdbdbd;
}

.plan-container {
  padding: 20px;
}

.plan-body {
  min-height: 70px;
}

.button-card {
  margin-top: 10px;
}

.custom-yellow-bg {
  background-color: #FFC007;
  font-weight: bold;
}

.custom-green-bg {
  background-color: #198753;
  color: white;
  font-weight: bold;
}

.custom-orange-bg {
  background-color: #D63384;
  color: white;
  font-weight: bold;
}

.custom-purple-bg {
  background-color: #7330F9;
  color: white;
  font-weight: bold;
}
